*
{
    transform-style: preserve-3d;
    margin: 0;
    padding:0;
}


body 
{
    background: #fff;
    
}

  
  .navigation {
    padding-top: 2rem;
    color: white;
    background-color: #FCD0BA;
    padding: 3rem;
    
    color: black;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius:2rem ;

  }
  .navigation1
  {
    padding-top: 2rem;
    color: white;
    background-color: #FCD0BA;
    padding: 3rem;
    
    color: black;
    border-top-left-radius: 2rem;
    border-top-right-radius:2rem ;
  }
  
  

.container 
{
    position: relative;
    column-count: 4;
    padding: 25px;
   
    
}

.image 
{
    display: inline-block;
    margin-bottom: 10px;
    overflow: hidden;
}

img 
{
    width: 100%;
    transition: 0.25 ease-in-out;
    border-radius: 15px;
}

.image:hover img 
{
    transform: scale(1.1);
}

h1 
{
    position: absolute;
    padding: 5px;
    font-size: 22px;
    background: #070707;
    color:white;
    border-radius: 5px;
    opacity: 0;
    z-index: 1;
    transition: 0.25s ease-in-out;

}

.image:hover h1 
{
    opacity: 0.8;
}

@media screen and (max-width:1024px)
{
    h1 
    {
        font-size: 18px;
    }
}

@media screen and (max-width:768px)
{
    .container
    {
        column-count: 3;
    }
    h1 
    {
        font-size: 15px;
    }
}


@media screen and (max-width:425px)
{
    .container
    {
        column-count: 2;
    }
    h1 
    {
        font-size: 12px;
    }


}


@media screen and (max-width:375px)
{
    .container
    {
        column-count: 1;
    }
    h1 
    {
        font-size: 12px;
    }
    p 
    {
        font-size: 0.3rem;
    }
}



